In [3]:
def factorial(n):
    if(n==1):
        return 1
    return n*factorial(n-1)

In [5]:
factorial(5)

120

In [7]:
def school():
    name="sam"
    age=78
    print("my name is ",name,"age:",age)

In [9]:
school()

my name is  sam age: 78

In [11]:
def school(name,age):
    # name="sam"
    # age=78
    print("my name is ",name,"age:",age)

In [13]:
school("piyush",19)

my name is  piyush age: 19

In [21]:
def reversecheck(n):
    m=n
    sum=0
    while(n!=0):
        rem=n%10
        sum=sum*10+rem
        n=n//10
    # print(sum)
    if(sum==m):
        print("palindrome number")
    else:
        print("not palindrome number")

In [25]:
reversecheck(122)

not palindrome number

In [27]:
len(122)

TypeError: object of type 'int' has no len()

In [43]:
def armstrong(n):
    m=n
    p=m
    sum=0
    count=0
    while(n!=0):
        n=n//10
        count+=1
    while(m!=0):
        remainder=m%10
        sum=sum+(remainder**count)
        m=m//10
    if(sum==p):
        print("armstrong number")
    else:
        print("not armstrong number")

In [45]:
armstrong(153
         )

armstrong number

In [47]:
l=[12,10,13,15,17,18,19,10,45,16,31,82,6,1,8,15,7]

In [69]:
def even_odd(l):
    even=[]
    odd=[]
    for i in l:
        if(i&1==0):
            even.append(i)            
        else:
            odd.append(i)
    print("even:",even)
    print("odd:",odd)

In [71]:
even_odd(l)

even: [12, 10, 18, 10, 16, 82, 6, 8]
odd: [13, 15, 17, 19, 45, 31, 1, 15, 7]

In [77]:
def prime(l):
    prime_list = []
    for no in l:
        if no > 1:
            for i in range(2, no):
                if no % i == 0:
                    break
            else:
                prime_list.append(no)
    print("Prime numbers are:", prime_list)

In [79]:
prime(l)

Prime numbers are: [13, 17, 19, 31, 7]

In [1]:
def arm(l,u):
    arm=[]
    for no in range(l,u+1):
        y=len(str(no))
        digit=no
        sum=0
        while digit>0:
            t=digit%10
            sum=sum+t**y
            digit=digit//10
        if(sum==no):
            arm.append(no)
        else:
            pass
    print("armstrong number:",arm)

In [3]:
arm(100,2000)

armstrong number: [153, 370, 371, 407, 1634]

In [7]:
def add(a=10,b=20):
    return a+b

In [11]:
print(add())

30

In [13]:
type(add())

int

In [15]:
a={1,2,3}

In [17]:
type(a)

set

In [19]:
b={2,8,9}

In [27]:
a.union(b)

{1, 2, 3, 8, 9}

In [29]:
a.intersection(b)

{2}

In [ ]:
def()