In [17]:
name=input("Enter the names:")
print(name,type(name))

Enter the names: "piyus khandelwal"

"piyus khandelwal" <class 'str'>

In [2]:
name=list(input("Enter the names:"))
print(name,type(name))

Enter the names: ram,ajay,mahesh

['r', 'a', 'm', ',', 'a', 'j', 'a', 'y', ',', 'm', 'a', 'h', 'e', 's', 'h'] <class 'list'>

In [3]:
name=input("Enter the names:").split()
print(name,type(name))

Enter the names: ram shyam ajay mohan kritika ojaswita

['ram', 'shyam', 'ajay', 'mohan', 'kritika', 'ojaswita'] <class 'list'>

In [4]:
age=input("Enter the age:").split()
print(age,type(age))

Enter the age: 89 23 45 67 78

['89', '23', '45', '67', '78'] <class 'list'>

In [5]:
age=int(input("Enter the age:").split())
print(age,type(age))

Enter the age: 67 78 89 90

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [6]:
age=int(input("Enter the age:")).split()
print(age,type(age))

Enter the age: 67 78 89 78

ValueError: invalid literal for int() with base 10: '67 78 89 78'

In [7]:
age=map(int,input("Enter the age:").split())

Enter the age: 67 78 89 90

In [8]:
age

In [9]:
age=list(age)
age

[67, 78, 89, 90]

In [10]:
age=list(map(int,input("Enter the age:").split()))

Enter the age: 56 78 45 67 34

In [11]:
age

[56, 78, 45, 67, 34]

In [12]:
id_=list(map(int,input("Enter the id:").split()))
name=input("Enter the name:").split()
age=list(map(int,input("Enter the age:").split()))
address=input("Enter the address:").split()
gender=input("Enter the gender:").split()
course=input("Enter the course:").split()
fees=list(map(int,input("Enter the fees:").split()))

Enter the id: 101 102 103 104 105 106 107 108 109 110
Enter the name: Madhav Kashish Pragya Rudra Hritik Maniram Naresh Manisha Muskan Yashi
Enter the age: 19 19 20 19 20 21 20 20 21 20
Enter the address: Jaipur Jaipur Ajmer Kota Ganganagar Bikaner Hanumangarh Hanumangarh Ajmer Kota
Enter the gender: M F F M M M M F F F
Enter the course: C C++ Java PHP DS DA Devops R WebDevelopment Python
Enter the fees: 2500 3500 10000 6500 35000 24000 32000 9500 18500 7500

In [13]:
stud_data={"Id":id_,"Name":name,"Age":age,"Address":address,"Gender":gender,"Course":course,"Fees":fees}
print(stud_data)

{'Id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110], 'Name': ['Madhav', 'Kashish', 'Pragya', 'Rudra', 'Hritik', 'Maniram', 'Naresh', 'Manisha', 'Muskan', 'Yashi'], 'Age': [19, 19, 20, 19, 20, 21, 20, 20, 21, 20], 'Address': ['Jaipur', 'Jaipur', 'Ajmer', 'Kota', 'Ganganagar', 'Bikaner', 'Hanumangarh', 'Hanumangarh', 'Ajmer', 'Kota'], 'Gender': ['M', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'F'], 'Course': ['C', 'C++', 'Java', 'PHP', 'DS', 'DA', 'Devops', 'R', 'WebDevelopment', 'Python'], 'Fees': [2500, 3500, 10000, 6500, 35000, 24000, 32000, 9500, 18500, 7500]}

In [14]:
import pandas as pd

In [15]:
df=pd.DataFrame(stud_data)
df

    Id     Name  Age      Address Gender          Course   Fees
0  101   Madhav   19       Jaipur      M               C   2500
1  102  Kashish   19       Jaipur      F             C++   3500
2  103   Pragya   20        Ajmer      F            Java  10000
3  104    Rudra   19         Kota      M             PHP   6500
4  105   Hritik   20   Ganganagar      M              DS  35000
5  106  Maniram   21      Bikaner      M              DA  24000
6  107   Naresh   20  Hanumangarh      M          Devops  32000
7  108  Manisha   20  Hanumangarh      F               R   9500
8  109   Muskan   21        Ajmer      F  WebDevelopment  18500
9  110    Yashi   20         Kota      F          Python   7500

In [16]:
df.head()

    Id     Name  Age     Address Gender Course   Fees
0  101   Madhav   19      Jaipur      M      C   2500
1  102  Kashish   19      Jaipur      F    C++   3500
2  103   Pragya   20       Ajmer      F   Java  10000
3  104    Rudra   19        Kota      M    PHP   6500
4  105   Hritik   20  Ganganagar      M     DS  35000

In [17]:
df.tail()

    Id     Name  Age      Address Gender          Course   Fees
5  106  Maniram   21      Bikaner      M              DA  24000
6  107   Naresh   20  Hanumangarh      M          Devops  32000
7  108  Manisha   20  Hanumangarh      F               R   9500
8  109   Muskan   21        Ajmer      F  WebDevelopment  18500
9  110    Yashi   20         Kota      F          Python   7500

In [18]:
df.head(3)

    Id     Name  Age Address Gender Course   Fees
0  101   Madhav   19  Jaipur      M      C   2500
1  102  Kashish   19  Jaipur      F    C++   3500
2  103   Pragya   20   Ajmer      F   Java  10000

In [19]:
df.tail(2)

    Id    Name  Age Address Gender          Course   Fees
8  109  Muskan   21   Ajmer      F  WebDevelopment  18500
9  110   Yashi   20    Kota      F          Python   7500

In [20]:
df[0:10:2]

    Id    Name  Age      Address Gender          Course   Fees
0  101  Madhav   19       Jaipur      M               C   2500
2  103  Pragya   20        Ajmer      F            Java  10000
4  105  Hritik   20   Ganganagar      M              DS  35000
6  107  Naresh   20  Hanumangarh      M          Devops  32000
8  109  Muskan   21        Ajmer      F  WebDevelopment  18500

In [21]:
df[0:10:2,1:6:2]

InvalidIndexError: (slice(0, 10, 2), slice(1, 6, 2))

In [22]:
df.iloc[0:10:2,1:6:2]

     Name      Address          Course
0  Madhav       Jaipur               C
2  Pragya        Ajmer            Java
4  Hritik   Ganganagar              DS
6  Naresh  Hanumangarh          Devops
8  Muskan        Ajmer  WebDevelopment

In [23]:
df.loc[0:10:2,1:6:2]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [24]:
df.head(2)

    Id     Name  Age Address Gender Course  Fees
0  101   Madhav   19  Jaipur      M      C  2500
1  102  Kashish   19  Jaipur      F    C++  3500

In [25]:
df.loc[0:10:2,["Id","Address","Course"]]

    Id      Address          Course
0  101       Jaipur               C
2  103        Ajmer            Java
4  105   Ganganagar              DS
6  107  Hanumangarh          Devops
8  109        Ajmer  WebDevelopment

In [26]:
df

    Id     Name  Age      Address Gender          Course   Fees
0  101   Madhav   19       Jaipur      M               C   2500
1  102  Kashish   19       Jaipur      F             C++   3500
2  103   Pragya   20        Ajmer      F            Java  10000
3  104    Rudra   19         Kota      M             PHP   6500
4  105   Hritik   20   Ganganagar      M              DS  35000
5  106  Maniram   21      Bikaner      M              DA  24000
6  107   Naresh   20  Hanumangarh      M          Devops  32000
7  108  Manisha   20  Hanumangarh      F               R   9500
8  109   Muskan   21        Ajmer      F  WebDevelopment  18500
9  110    Yashi   20         Kota      F          Python   7500

In [27]:
df["Fees"][6]

np.int64(32000)

In [29]:
df["Fees"][6]=38000

C:\Users\dell\AppData\Local\Temp\ipykernel_2412\93393310.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Fees"][6]=38000
C:\Users\dell\AppData\Local\Temp\ipykernel_2412\93393310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Fees"][6]=38000

In [30]:
df

    Id     Name  Age      Address Gender          Course   Fees
0  101   Madhav   19       Jaipur      M               C   2500
1  102  Kashish   19       Jaipur      F             C++   3500
2  103   Pragya   20        Ajmer      F            Java  10000
3  104    Rudra   19         Kota      M             PHP   6500
4  105   Hritik   20   Ganganagar      M              DS  35000
5  106  Maniram   21      Bikaner      M              DA  24000
6  107   Naresh   20  Hanumangarh      M          Devops  38000
7  108  Manisha   20  Hanumangarh      F               R   9500
8  109   Muskan   21        Ajmer      F  WebDevelopment  18500
9  110    Yashi   20         Kota      F          Python   7500

In [31]:
s="python intro"
print(s,type(s))

python intro <class 'str'>

In [32]:
s[2]

't'

In [33]:
s[2]="s"

TypeError: 'str' object does not support item assignment

In [34]:
s

'python intro'

In [35]:
for k in s:
    print(k)

p
y
t
h
o
n

i
n
t
r
o

In [36]:
for k in s:
    print(k,end=" ")

p y t h o n   i n t r o

In [37]:
for k in range(len(s)):
    print(s[k],end=" ")

p y t h o n   i n t r o

In [38]:
for k in range(-1,-len(s)-1,-1):
    print(s[k],end=" ")

o r t n i   n o h t y p

In [39]:
for k in range(-1,-len(s)-1,-1):
    print(s[k],end="")

ortni nohtyp

In [40]:
s1="ram"
s2="Ajay"
s1>s2

True

In [41]:
s1="@"
id(s1)

140728327596760

In [42]:
s1*5

'@@@@@'

In [43]:
s1

'@'

In [44]:
s1=s1*5
s1

'@@@@@'

In [45]:
id(s1)

2154902565392

In [46]:
s

'python intro'

In [47]:
s[2:6:1]

'thon'

In [48]:
s[-1:-4:-1]

'ort'

In [49]:
s

'python intro'

In [50]:
len(s)

12

In [51]:
a=89
s1=str(a)
s1

'89'

In [52]:
s

'python intro'

In [54]:
s.index("t")

2

In [55]:
s.index("t",3)

9

In [56]:
s.index("z")

ValueError: substring not found

In [57]:
s.find("t")

2

In [58]:
s.find("t",3)

9

In [59]:
s.find("z")

-1

In [60]:
s

'python intro'

In [61]:
id(s)

2154928620656

In [62]:
s.capitalize()

'Python intro'

In [63]:
s

'python intro'

In [64]:
s.isalpha()

False

In [65]:
s1="ram"
s1.isalpha()

True

In [66]:
s.isdigit()

False

In [67]:
s1="76543"
s1.isdigit()

True

In [69]:
s.isalnum()

False

#####

In [70]:
s1="9876jkhgfd"
s1.isalnum()

True

In [71]:
s1="9876"
s1.isalnum()

True

In [72]:
s.isspace()

False

In [73]:
s1="   "
s1.isspace()

True

In [74]:
s

'python intro'

In [75]:
s.lower()

'python intro'

In [76]:
s.upper()

'PYTHON INTRO'

In [77]:
s

'python intro'

In [78]:
s.islower()

True

In [79]:
s.isupper()

False

In [80]:
s.title()

'Python Intro'

In [81]:
s.istitle()

False

In [82]:
s

'python intro'

In [83]:
s.replace("python","Java")

'Java intro'

In [84]:
s

'python intro'

In [85]:
s1="PyThOn intro"
s1.swapcase()

'pYtHoN INTRO'

In [86]:
s=" python "

In [87]:
s.strip()

'python'

In [88]:
s

' python '

In [89]:
s.lstrip("p")

' python '

In [90]:
s.lstrip(" p")

'ython '

In [91]:
s.rstrip("n")

' python '

In [92]:
s.rstrip("n ")

' pytho'

In [93]:
s="rameshit"
s.endswith("it")

True

In [94]:
s.startswith("ra")

True

In [95]:
max(s)

't'

In [96]:
min(s)

'a'

In [97]:
sum(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [98]:
sorted(s)

['a', 'e', 'h', 'i', 'm', 'r', 's', 't']

In [99]:
s1="jkhgf9876"
sorted(s1)

['6', '7', '8', '9', 'f', 'g', 'h', 'j', 'k']